[Unit]
Description=Gunicorn instance to serve OpenWebPOS
After=network.target

[Service]
User=$user
Group=www-data
WorkingDirectory=/home/$user/openwebpos
Environment="PATH=/home/$user/openwebpos/venv/bin"
ExecStart=/home/$user/openwebpos/venv/bin/gunicorn --bind unix:openwebpos.sock wsgi:app

[Install]
WantedBy=multi-user.target